<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Magic tickets</title>
    <meta charset="UTF-8" />
    <meta name="description" content="Home page of Magic tickets" />
    <meta name="author" content="Riccardo Brigatti" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="date" content="2022-11-19" />
    <link rel="stylesheet" th:href="@{/css/style.old.css}"/>
  </head>

  <body>
    <header>
      Magic Ticket
      <h2>Create a new ticket</h2>
    </header>

    <nav>
      <a th:href="@{/}">Home</a>
      <a href="#">Create new ticket</a>
    </nav>
    <main>
      <section>
        <form
          th:action="@{/ticket/new}"
          method="post"
          enctype="multipart/form-data">
          <fieldset>
            <legend>Details</legend>
            <label for="title">Title:</label><br />
            <input type="text" id="title" name="title" /><br />
            <label for="author">Author:</label><br />
            <input
              type="text"
              id="author"
              name="author"
              value="user1"
              readonly
            /><br />
            <label for="level">Level:</label><br />
            <select name="level" id="level" >
              <option th:each="status : ${T(ch.supsi.webapp.web.Enum.Level).values()}"
                      th:value="${status}" th:text="${status}"></option>
            </select>
            <br />
            <label for="description">Description:</label><br />
            <textarea
              id="description"
              name="description"
              placeholder="Insert ticket description..."
              rows="4"
              cols="50"
            ></textarea
            ><br />
            <input id="file" type="file" name="file" accept="image/jpeg" />
          </fieldset>
          <input type="submit" value="Create" />
        </form>
      </section>
    </main>
    <aside><h3>Side bar</h3></aside>
    <footer>
      <p>
        <a
          href="https://www.supsi.ch/dti/bachelor/ingegneria-informatica/piano-studio-offerta-formativa/offerta-formativa/dettaglio-offerta-formativa/dettaglio-modulo.160466.backLink.9ad4a42f-cc38-46b5-a0fb-3d53e60bfe53&of=541.html"
          >Web 1</a
        >
        — <a href="https://supsi.ch">SUPSI</a> —
      </p>
      <small>Copyright © 2022 Riccardo Brigatti</small>
    </footer>
  </body>
</html>
